<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shd.shop">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".IApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.shd.shop.model.main.home.MainActivity"
            android:screenOrientation="portrait" />
        <service android:name="com.shd.shop.server.SampleResultService" />
        <service android:name="com.shd.shop.server.InitializeService" />

        <activity
            android:name="com.shd.shop.model.main.LogoSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.shd.shop.model.main.IntroduceActivity" />
        <activity android:name="com.shd.shop.model.main.login.LoginActivity" />
        <activity android:name=".model.main.login.ResetPasswordActivity" />
        <activity android:name=".model.main.home.OrderActivity">
        </activity>
        <activity android:name=".model.main.home.OrcodeActivity">
        </activity>
        <activity android:name=".model.main.home.FundDetailsActivity" />
        <activity android:name=".model.main.drawmoney.DrawingMoneyActivity" />
        <activity android:name=".model.main.home.FansActivity" />
        <activity android:name=".model.main.home.OrderMessageActivity" />
        <activity android:name=".model.main.home.SettingActivity" />
        <activity android:name=".model.main.shop.ShopActivity" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>